@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
/* font-family: 'Zilla Slab', serif; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
}

/* .first {
} */
.first,
.last {
  display: inline-block;
  width: 20%;
  background-color: black;
  height: 3px;
  position: relative;
  top: 1.2rem;
}

.footer-info {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
footer a {
  text-decoration: none;
  color: black;
}

/* --------------Main----------------- */
#titleNews {
  margin: 0 0 0 7%;
}
#actualNews {
  display: flex;
  padding: 5%;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}
#topNews1 {
  padding: 2%;
  width: 30%;
}
.author {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.published {
  font-size: 0.9rem;
}
.urlToImage {
  width: 100%;
}
#slideBar {
  display: flex;
  position: relative;
}
#buttonLeft {
  position: absolute;
  top: 200px;
  left: 50px;
}
#buttonLeft::before {
  content: '\276E';
  font-size: 50px;
}
#buttonLeft:hover::before {
  font-size: 70px;
  opacity: 0.7;
}
#buttonRight {
  position: absolute;
  top: 200px;
  right: 50px;
}
#buttonRight::before {
  content: '\276F';
  font-size: 50px;
}
#buttonRight:hover::before {
  font-size: 70px;
  opacity: 0.7;
}
